* {
  margin: 0;
  padding: 0;
}

html {
  height: 100vh;
  background: linear-gradient(black, #0b0d15, #121317);
}

body {
  min-height: 20vh;
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  align-content: center;
  color: white;
}

section {
  color: white;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 20vw;
}

.card {
  margin: 0 auto;
  padding: 1em;
  width: fit-content;
  background: black;
  text-align: center;
  border-radius: 10px;
  position: relative;
}


@property --angle{
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.card::after, .card::before {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: conic-gradient(from var(--angle), #ff4545, #00ff99, #006aff, #ff0095, #ff4545);
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  z-index: -1;
  padding: 3px;
  border-radius: 10px;
  animation: 3s spin linear infinite;
}

.card::before{
  filter: blur(0.5rem);
  opacity: 0.5;
}

@keyframes spin{
  from{
    --angle: 0deg;
  }
  to{
    --angle: 360deg;
  }
}
